.esthela {
float:right;
width:410px;
height:280px;
background: url("images/chatnew.jpg");
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
display:block;
right: -375px;
padding:0;
position:fixed;
top: 400px;
z-index:1002;
}
.esthelas {
float:right;
width:410px;
height:280px;
background: url("images/chat.jpg");
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
display:block;
right: -375px;
padding:0;
position:fixed;
top: 100px;
z-index:1002;
}
